<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <h1 id="bsthome">BINARY SEARCH TREE</h1>
        <div>
          <p id="bstdesc">A binary search tree
          </br>A rooted binar data structure whose internal nodes each store a key greater than 
          </br>all the keys in the node's left subtree and less than those in its right subtree. 
        </br>
          <a id="wikipage" href="https://en.wikipedia.org/wiki/Binary_search_tree">Wikipedia</a></p>
        </div>
        <img src="images/bst.png" alt="bst"/>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
